* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Verdana, Tahoma, sans-serif;
}

.header{
  background-color: rgb(50, 167, 145);
  display: flex;
}

main{
  display:flex;
}

.evaluation-form{
  width: 675px;
  flex-direction: column;
}
